venv/
env/
__pycache__/
.venv/
pycache/
*.py[cod]
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
model/
model.zip
*.bin
*.safetensors
*.pt
*.pth
*.ckpt
*.pyc
*.pyo
*.pyd

!config.json
!tokenizer.json
!tokenizer_config.json
!vocab.json
!merges.txt
!special_tokens_map.json